{% extends 'adminbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
th{
    background-color:black;
    color:white;
}
</style>
<center>
<div style="margin: 50px;">
    <h3>Cell</h3><hr><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Cell</td>
                <td><input type="text" class="form-control" value="{{d.cellno}}" name="txtCell" required></td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td><input type="number" min="1" class="form-control" value="{{d.capacity}}" name="txtCapacity" required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-danger" value="Update"></td>
            </tr>
        </table>
        {% if data %}
        <br<br><hr>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>CELL</th>
                <th>CAPACITY</th>
                <th colspan="2"></th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.cellno}}</td>
                <td>{{d.capacity}}</td>
                <td><a href="/adminupdatecell?id={{d.id}}">Update</a></td>
                <td><a href="/admindeletecell?id={{d.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>
</div>
</center>
{% if messages %}
    {% for msg in messages %}
        <script>alert('{{msg}}');</script>
    {% endfor %}
{% endif %}
{% endblock %}