{% extends 'adminbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
th{
    background-color:black;
    color:white;
}
</style>
<center>
<div style="margin: 50px;">
    <h3>Release</h3><hr><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Enter amount given</td>
                <td><input type="number" class="form-control" name="txtAmt" required></td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-danger" value="Submit"></td>
            </tr>
        </table>
        
    </form>
</div>
</center>
{% if messages %}
    {% for msg in messages %}
        <script>alert('{{msg}}');</script>
    {% endfor %}
{% endif %}
{% endblock %}