{% extends 'policebase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
th{
    background-color:black;
    color:white;
}
</style>
<center>
<div style="margin: 50px;">
    <h3>Parole</h3><hr><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       
        {% if data %}
        <br<br><hr>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>PRIOSNER</th>
                <th>RELEASE DATE </th>
               
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.prisoner.name}}</td>
                <td>{{d.reldate}}</td>
               
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>
</div>
</center>
{% if messages %}
    {% for msg in messages %}
        <script>alert('{{msg}}');</script>
    {% endfor %}
{% endif %}
{% endblock %}